html, body {
  width: 100%;
  height: 100%;
}
.App {
  text-align: center;
}

.board-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 520px;
  max-width: 520px;
}

.tile {
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  border: 1px solid #abc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile-empty {
  background-color: #def;
}

.tile-player {
  background-color: #fed;
}
